* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-image: url("../image/background.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}
.container {
  width: 100%;
  height: 100vh;
  margin-bottom: 200px;
}
.csd {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
}
.create-form {
  width: 350px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to right,
    rgba(17, 33, 64, 0.4),
    rgba(82, 122, 150, 0.4)
  );
  box-shadow: 3px 3px 3px #112140;
  border-radius: 25px;
}
h1 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: #cbcbcb;
}
.div-name {
  justify-content: center;
  flex-wrap: wrap;
}
.name {
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
  width: 300px;
  height: 40px;
  margin-top: 10px;
  border: none;
  outline: none;
  background-position: 10px 5px;
  background-size: 25px;
  background-repeat: no-repeat;
  text-indent: 10px;
  text-transform: capitalize;
}
.account-button {
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
.selected-button {
  margin-top: 10px;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: #a2c8d4;
  font-size: 25px;
  width: 200px;
  height: 60px;
  font-family: "Oswald", sans-serif;
  color: #112140;
  cursor: pointer;
  text-align: center;
}
.selected-button:hover {
  opacity: 0.9;
}
.div-signup {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.error-message {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #a94442;
  display: flex;
  justify-content: center;
  background: #f0b2b2;
  border-radius: 5px;
}
.login-label {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #cbcbcb;
  margin-top: 15px;
  margin-bottom: 20px;
}
.login {
  color: #54a1c2;
  padding-left: 10px;
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  text-decoration: none;
}
.login:hover {
  text-decoration: underline;
}
.div-login {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 884px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .container {
    width: 850px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    margin: auto;
  }
  .container2 {
    display: flex;
    flex-direction: column;
  }
  .create-form {
    width: 400px;
    margin-top: 20px;
  }
}
